# -----------------------------
# Python
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Virtual environment
venv/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# -----------------------------
# Project data files
# -----------------------------

# Ignore ALL parquet files
*.parquet

# Ignore other large data file types
*.pdf
*.csv
*.tsv
*.jsonl
*.pickle
*.pkl
*.joblib
*.h5
*.hdf5
*.txt

# Ignore large raw data folders

My_Datasets/
My_Models/
Enriched_Datasets/
Extracted_Texts/
lpa2venv/
Datasets-HF/
logs/
checkpoints/
models/
artifacts/
saved_models/
outputs/
intermediate/

.env

# -----------------------------
# IDE files
# -----------------------------
.vscode/
.idea/

# -----------------------------
# OS files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Build & cache
# -----------------------------
build/
dist/
*.egg-info/
.cache/


# Add the adapters
Stages/2_Evidence_Scrutinization/Nyaya_Llama_Adapter_MTech.zip
Stages/2_Evidence_Scrutinization/Nyaya_Llama_Adapter_MTech